<ion-view view-title="Aloha Resort" hide-back-button="true">
  <ion-content>
    <div class="list">
      <a href="#/reservation" class="item item-icon-left item-icon-right">
        <i class="icon ion-document-text"></i>
        See your reservation
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a href="#weather" class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-partlysunny"></i>
        Current Weather
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a href="#restaurants" class="item item-icon-left item-icon-right">
        <i class="icon ion-fork"></i>
        Nearby restaurants
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
